* {
    margin: 0;
    padding: 0;
}
object {
    width: 100%;
    height: 158px;
    overflow: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header{
    width: 100%;
    background-color: rgba(10, 10, 10, 0.822);
}
header ul{
    height: 120px;
    margin: auto;
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header ul li:nth-child(1){
    color: white;
    font-size:20px;
}
header ul li:nth-child(2){
    display: flex;
    justify-content:space-around;
    height: 120px;
    width: 500px;
}
header ul li:nth-child(2) dt{
    width:155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li:nth-child(2) dt span{
    font-size:14px;
    color: white;
    width: 70px;
    line-height: 2;
}
header ul li:nth-child(2) dt img{
    width:75px;
    border-radius:35px;
}

nav li{
    height: 40px;
    padding-top:8px;
    box-sizing: border-box;
}
nav li:nth-child(1){
    background-color: black;
    padding-left: 150px;
}
nav li:nth-child(1) a{
    color: white;
    font-size: 14px;
    padding-right: 25px;
}
nav li:nth-child(2){
    background-color: rgb(209, 206, 206);
    padding-left: 135px;
    color: rgb(54, 53, 53);
}
nav li:nth-child(2) a{
    color: rgb(54, 53, 53);
    margin-right:15px;
    margin-left:15px;
    font-size: 14px;
}
main{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top:20px;
}
.product_select_ul1{
    width: 352px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-right: 30px;
}
.product_select_ul1 li:nth-child(1){
    height:352px; 
}
.product_select_ul1 li:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.product_select_ul1 li:nth-child(2) img{
    width: 80px;
}
.product_select_ul1 img{
    box-shadow:1px 1px 3px 1px rgb(192, 190, 190);
}
.product_select_ul2{
    height:520px;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_select_ul2 li:nth-child(1){
    display: flex;
    justify-content: space-between;
    color: rgb(63, 61, 61);
}
.product_select_ul2 li:nth-child(1) span{
    background-color:red;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding:2px 4px;
}
.product_select_ul2 li:nth-child(2){
    color: red;
    font-size:13px;
}
.product_select_ul2 li:nth-child(3){
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#f5f5f0;
    height: 100px;
}
.product_select_ul2 li:nth-child(3) dt:nth-child(1){
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-around;
    width:12%;
    letter-spacing:5px;
    color: rgb(153, 149, 149);
}
.product_select_ul2 li:nth-child(3) dt:nth-child(2){
    align-self: flex-start;
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.product_select_ul2 li:nth-child(3) dt:nth-child(2) .product_price{
    font-size:24px;
    font-weight: bold;
    color:red;
}
.product_select_ul2 li:nth-child(3) dt:nth-child(2) p span{
    background-color: rgb(202, 163, 163);
    color: red;
    font-size: 12px;
    padding:2px;
    border:1px dashed red;
}
.product_select_ul2 li:nth-child(3) dt:nth-child(3){
    width: 12.5%;
    color:gray;
    align-self: flex-start;
    border-left: 1px solid gray; 
    text-align: center;
    font-size: 14px;
}
.product_select_ul2 li:nth-child(3) dt:nth-child(3) p:nth-child(2){
    color:#3385ff;
}
.product_select_ul2 li:nth-child(4){
    display: flex;
    color: rgb(153, 149, 149);
    justify-content: space-between;
}
.product_select_ul2 li:nth-child(4) dt{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap:8px;
}
.product_select_ul2 li:nth-child(4) dt p{
    background-color:#fafaf7;
    border: 1px solid rgb(199, 196, 196); 
    display: flex;
    align-items: center;
    padding:2px 5px; 
}
.product_select_ul2 li:nth-child(4) dt p:hover{
    border: 1px solid red;
}
.product_select_ul2 li:nth-child(4) dt p a{
    font-size:14px;
    color: rgb(105, 102, 102);
}
.product_select_ul2 li:nth-child(5){
    width: 95%;
}
.product_select_ul2 li:nth-child(5),.product_select_ul2 li:nth-child(6){
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(153, 149, 149);
    height: 40px;
}
.product_select_ul2 li:nth-child(5) a,.product_select_ul2 li:nth-child(6) a{
    font-size: 14px;
    color:rgb(105, 102, 102);
    background-color:#fafaf7;
    border: 1px solid rgb(199, 196, 196); 
    padding:3px 6px;
}
.product_select_ul2 li:nth-child(6){
    width: 92.6%;
}
.product_select_ul2 li:nth-child(5) a:hover,.product_select_ul2 li:nth-child(6) a:hover{
    border: 1px solid red;
}
.product_select_ul2 li:nth-child(7){
    border-top: 1px solid  rgb(199, 196, 196);
    text-align: center;
    height: 60px;
    padding-top:28px;
    box-sizing: border-box;
}
.product_select_ul2 li:nth-child(7) a{
    color: white;
    background-color: red;
    padding: 13px;
    border-radius: 8px;
}
section{
    padding-top:40px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.sidebar{
    width:230px;
}
.sidebar li:nth-child(1){
    background-color: red;
    color: white;
    text-align: center;
    padding:10px 0;
    box-shadow: 1px 1px 1.5px 1px red;
}
.sidebar li:nth-child(2){
    margin-top:3px;
    box-shadow:1px 1px 3px 1px rgb(192, 190, 190);
    height: 1420px;
    display:flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}
.sidebar li:nth-child(2) dt p{
    margin-top:6px;
}
.sidebar li:nth-child(2) dt p span:nth-child(1){
    background-color: red;
    color: white;
    font-size:14px;
    display:inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 12px;
}
.sidebar li:nth-child(2) dt p span:nth-child(2){
    font-size:14px;
    color: rgb(151, 148, 148);
    padding-left:3px;
    padding-right: 8px;
}
.sidebar li:nth-child(2) dt p span:nth-child(3){
    color: red;
    font-weight: bold;
}
.sidebar img{
    width: 80%;
    margin-left: 10px;
}
.detail{
    width:890px;
}
.detail li:nth-child(1){
    height: 44px;
    background-color:  #f0f0f5;
    display: flex;
    border-bottom: 2px solid red;
}
.detail li:nth-child(1) a:nth-child(1){
    background-color: red;
    color: white;
}
.detail li:nth-child(1) a{
    color: red;
    padding:14px 20px 14px 20px;
    box-sizing: border-box;
}
.detail img{
    width: 100%;
}